* {
  margin: 0;
  padding: 0;
}

:root {
  --mauchudao: #007bff;
  --background-color: #f8f8f8;
  --mauchudao2: #d4f6fc;
  --maucuachu: #696969;
  --font-family: 'Courier New', Courier, monospace;
  --maucuamenu: #f8f8f8;
}

#menu-desktop {
  display: none;
}

body {
  background: #fff;
  color: var(--maucuachu);
  font-family: var(--font-family);
  user-select: ;
}

footer {
  bottom: auto;
  background: var(--maucuamenu);
  text-align: center;
  padding: 10px;
}

#donat button {
  background: #7aebff;
  color: white;
  border: none;
  height: 100%;
  font-size: 20px;
  border-radius: 3px;
  transition: 0.25s;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  
}

#donat button:hover {
  background: #ff7a7a;
}
#donat{
  text-align: center;
}
