* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: aliceblue;
}
#menu ul{
    list-style-type: none;
    text-align: center;
    color: white;
    background-color: #8A2BE2;
}
#menu ul li a{
    text-decoration: none;
    color: White;
    display: block;
    padding: 20px;
    line-height: 20px;
}
#menu li{
    display: inline-block;
}
#menu ul li a:hover{
    background: white;
    color:#8A2BE2;
}
#menu ul li > .sub-menu{
    position: absolute;
    display: none;
}
#menu li {
    position: relative;
}
.sub-menu{
    position: absolute;
}
#menu ul li:hover .sub-menu{
    display: block;
}
button{
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #8A2BE2;
    border: none;
    padding: 10px;
    border-radius: 360px;
    transition: .50s;
    font-size: 16px;
    height: 160px;
    width: 160px;
}
button:hover{
    width: 30%;
}
#button {
    text-align: center;
} 