.homea {
  color: white;
}
#menu {
  border: 1px solid green;
  border-radius: 5px;
  background-color: #7FFFD4;
}
#gradux {
  font-size: 40px;
  font-family: cursive;
  color: white;
}
#onax {
  font-size: 50px;
  color: red;
  font-family: Georgia;
}
a {
  color: black;
}
