body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1) 0,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px,
        transparent 50%
    ),
    repeating-linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.1) 0,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px,
        transparent 50%
    );
    background-size: 200px 200px;
    position: relative;
    z-index: 1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
    position: relative;
    z-index: 2;
}

#word-list {
    display: flex;
    flex-wrap: wrap;
}

.word-item {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 0.5em;
    flex: 1 1 200px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 3;
}

.word-item::after {
    content: 'GRADUX.RU';
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
    font-size: 12px;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
